<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!--
            Remove FirebaseInitProvider from debug builds so Firebase is never
            auto-initialized in a debug APK.
        -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:exported="false"
            android:directBootAware="true"
            tools:node="remove" />
    </application>
</manifest>
